*{
    border: 0;
    margin: 0;
}
.header {
    background-color: #4349D3;
    text-align: center;
    padding: 20px;
}
.white {
    color: white;
}
.blue {
    background-color: #4349D3;
}

.main {
    width: 30%;
    margin: auto;
    height: 60px;
    text-align: center;
    margin-top: 18%;
}
.main .firstB{
    height: 60px;
    width: 50%;
    border-radius: 5px;
}

/* modal */

.modal-outer {
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0,0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.modal-outer.open {
    opacity: 1;
    pointer-events: all;
}

.modal-inner {
    width: 50%;
    margin: auto;
    margin-top: 17%;
    
}

.modal-inner form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;

}

.modal-inner form * {
    margin-bottom: 20px;
    padding-top: 5px;
    height: 30px;
    border: 1px solid black;

}
.modal-outer .sub-form {
    display: flex;
    width: 70%;
    justify-content: space-between;
    border: none;
}

.submodal-inner {
    width: 50%;
    margin: auto;
    margin-top: 7%;
    background-color: white;
    padding-left: 30px;
    height:40% ;
    padding-top: 20px;
    border-radius: 10px;


     
}

.submodal-inner > .sub-inner {
    display: flex;
    flex-direction: column;
    border: 1px solid #4349D3;
    height: 70%;
    margin-right: 50px;
}
.submodal-inner > .birthday {
    width: 50%;
    margin: auto;
}

.submodal-inner > .sub-inner >*{
    margin-bottom: 25px;
}

.submodal-inner .backBtn {
    margin-top: 20px;
    margin-left: 695px;
    padding: 10px;
}

.submodal-inner > .comments {
    margin-top: 10%;
    width: 70%;
    margin: auto;
    background-color: white;
    padding-left: 30px;
    min-height:60vh ;
    padding-top: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px; 
    overflow-y : auto;
}

.comments > .bMsg {
    margin-bottom: 20px;
    width: 90%;
}
.comments > .headd {
    width: 50%;
    margin: auto;
}

.hidden {
    display: none;
}

.birthday.font1 {
    color: #4349D3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.birthday.font2 {
    color: red;
    font-family: fantasy;
}

.birthday.font3 {
    color: salmon;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 #bold-text {
    font-size: 20px;
    font-style: italic;
    color: green;
}

.sub-inner.red {
    border: 1px solid red;
}

#b-bold {
    font-size: 20px;
    margin-left: 20px;
} 